body {
    margin: 10px
}
.button {
    display: inline;
    border: 1px solid rgb(240, 28, 74);
    background: rgba(238, 9, 9, 0.432);
    color: rgb(231, 31, 31);
    padding: 15px 15px 25px 20px;
    margin: 5px;
    border-radius: 500px;
    text-decoration: none;
    
}

.button:hover {
    display: inline;
    background-color: rgb(87, 3, 3);
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow";
}

.button1 {
    display: inline;
    border: 1px solid rgb(193, 235, 7);
    background-color: rgba(173, 235, 122, 0.418);
    color: rgb(176, 241, 23);
    padding: 15px 15px 25px 20px;
    margin: 5px;
    border-radius: 5000px;
    text-decoration: none;
}

.button1:hover {
    background-color: rgb(180, 248, 124);
    color: rgb(114, 223, 25);
    font-family: "Franklin Gothic Medium", "Arial Narrow";
}

.button2 {
    display: inline;
    border: 1px solid rgb(242, 10, 250);
    background-color: rgba(64, 17, 95, 0.295);
    color: rgb(38, 7, 95);
    padding: 15px 15px 25px 20px;
    margin: 5px;
    border-radius: 5000px;
    text-decoration: none;
}

.button2:hover {
    background-color: rgb(164, 15, 209);
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow";
}

.imeg{
    width: 60PX;
    height: 30PX;
    margin-left: 2px;
    position: relative;
    top: 10px;

    

}